In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv(r"C:\Users\allah\Downloads\archive (5)\Forbes_2000_Companies_2025.csv", sep=';')

print(df.head(5))

   Rank                                   Company   Headquarters  \
0     1                             JPMorganChase  United States
1     2                        Berkshire Hathaway  United States
2     3                                      ICBC          China
3     4  Saudi Arabian Oil Company (Saudi Aramco)   Saudi Arabia
4     5                                    Amazon  United States

               Industry  Sales ($B) Profit ($B) Assets ($B) Market Value ($B)
0               Banking      285.11      59.36    4,357.86             677.8
1             Insurance      371.43          89   1,153.88          1,145.46
2               Banking      221.96      50.84     6,688.6            251.33
3  Oil & Gas Operations      480.15     104.97      645.03          1,663.38
4  Retail and Wholesale      637.96      59.25      624.89          2,005.64

In [2]:
df.drop_duplicates(inplace=True)

In [3]:
df['Profit ($B)'] = df['Profit ($B)'].str.replace(r'[^\d\.-]', '', regex=True)
df['Profit ($B)'] = pd.to_numeric(df['Profit ($B)'], errors='coerce')
df['Assets ($B)'] = df['Assets ($B)'].str.replace(r'[^\d\.-]', '', regex=True)
df['Assets ($B)'] = pd.to_numeric(df['Assets ($B)'], errors='coerce')
df['Market Value ($B)'] = df['Market Value ($B)'].str.replace(r'[^\d\.-]', '', regex=True)
df['Market Value ($B)'] = pd.to_numeric(df['Market Value ($B)'], errors='coerce')

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\allah\AppData\Local\Temp\ipykernel_6216\1032278231.py:1: SyntaxWarning: invalid escape sequence '\d'
  df['Profit ($B)'] = df['Profit ($B)'].str.replace('[^\d\.-]', '', regex=True)
C:\Users\allah\AppData\Local\Temp\ipykernel_6216\1032278231.py:3: SyntaxWarning: invalid escape sequence '\d'
  df['Assets ($B)'] = df['Assets ($B)'].str.replace('[^\d\.-]', '', regex=True)
C:\Users\allah\AppData\Local\Temp\ipykernel_6216\1032278231.py:5: SyntaxWarning: invalid escape sequence '\d'
  df['Market Value ($B)'] = df['Market Value ($B)'].str.replace('[^\d\.-]', '', regex=True)

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rank               2000 non-null   int64
 1   Company            2000 non-null   object
 2   Headquarters       2000 non-null   object
 3   Industry           2000 non-null   object
 4   Sales ($B)         2000 non-null   float64
 5   Profit ($B)        1998 non-null   float64
 6   Assets ($B)        2000 non-null   float64
 7   Market Value ($B)  2000 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 125.1+ KB
None

In [5]:
df.to_csv('Forbes_companies.csv', index=False)

In [ ]:
df.drop('Company', axis=1, inplace=True)
df.drop('Headquarters', axis=1, inplace=True)
df.drop('Industry', axis=1, inplace=True)